# For Loop <hr style="border:2.5px solid rgba(206, 28, 147, 1)"></hr>

<b>Francis Adriane J. Pada-on</b>
<br>Computer Engineer

# Iterating Over a List

In [1]:
fruits = ["apple", "orange", "grapes"]

for i in fruits:
    print(i)

apple
orange
grapes

In [2]:
for n in range(1,10):
    print(n)

1
2
3
4
5
6
7
8
9

# Iterating Over a Dictionary

In [3]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [4]:
employee = {
    'name':'ada',
    'position':'analyst',
    'salary':500000
}

In [5]:
employee['position']

'analyst'

In [6]:
for key in employee:
    print(key)

name
position
salary

In [7]:
employee = {
    'name':['ada','love'],
    'position':['analyst','engineer'],
    'salary':[80000, 11000]
}

In [8]:

employee['salary']

[80000, 11000]